.dashboard{
    -fx-background-color:linear-gradient(to right,#3168df,rgba(235, 59, 90,1.0));
}

.welcome{
    -fx-font-family: "Times New Roman";
    -fx-fill: black;
    -fx-font-size: 38;
    -fx-font-weight: bold ;
}

.progressIndicator{
    -fx-font-family: "Times New Roman";
    -fx-fill: black;
    -fx-font-size: 18;
    -fx-font-weight: bold ;
}

.version{
    -fx-font-family: "Times New Roman";
    -fx-fill: black;
    -fx-font-size: 18;
    -fx-font-weight: bold ;
}

.copyRight{
    -fx-font-family: "Times New Roman";
    -fx-fill: black;
    -fx-font-size: 18;
    -fx-font-weight: bold ;
}